body {
    height: 100vh;
}

.grid-container {
    display: grid;
    height: 1025px;
    width: 100%;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 50%;
}
.header1 {
    grid-column: 1/4;
    background-color: rgb(43,205,192);
    color: white;
    height: 100%;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
   text-align: center;
   background-color: black;
   color: white;
   padding-left: 80px;
   padding-right: 50px;
   padding-bottom: 50px; 
   font-size: large;
}

.rectangle2 {
    height: 30px;
    width: 180px;
    background-color: rgb(51,168,221);
    margin: 50px auto auto auto;
}

.section3 {
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 50px; 
    font-size: large;
}

.rectangle3 {
    height: 30px;
    width: 180px;
    background-color: rgb(244,103,49);
    margin: 50px auto auto auto;
}

.section4 {
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 50px; 
    font-size: large;
}
.rectangle4 {
    height: 30px;
    width: 180px;
    background-color: rgb(43,205,192);
    margin: 50px auto auto auto;
}

h1  {
    display: block;
    font-size: 2em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
}

@media only screen and (max-width:600px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        width:100%; }
    .header1 {
        background-color: rgb(51,168,221); }
    .section2 {
        color: black;
        background-color: rgb(247,245,246);}
    .section3 {
        color: black;
        background-color: rgb(247,245,246);}
    .section4 {
        color: black;
        background-color: rgb(247,245,246);}
    }   